<h1>Xóa khách hàng</h1>
Bạn có đồng ý xóa: <b>{{khachhang.tenkhachhang}}</b>
<form action="" method="post">
    <button type="submit">Xóa</button>
    <a href="/khachhang/list" class="btn btn-default">Không xóa</a>
</form>