<h1>Xóa loại phòng</h1>
Bạn có đồng ý xóa: <b>{{loaiphong.tenloaiphong}}</b>
<form action="" method="post">
    <button type="submit">Xóa</button>
    <a href="/loaiphong/list" class="btn btn-default">Không xóa</a>
</form>